
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <p>please Check Your Inbox</p>
		<p>we have sent you a link to reset your password</p>
    </div>
</div>

