@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
		<form asp-action="SendResetPasswordLink" method="post">
        <div asp-validation-summary="All"></div>
			<input asp-for="Email" placeholder="Email" required="" />
			<span asp-validation-for="Email"></span>
			<br />
			<input type="submit" value="Send Reset Password Link"/>
		</form>
		<p> <a asp-action="LogIn">Cancel</a></p>
    </div>
</div>

