@model UserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Delete Users</h1>
    <h2 class="mb-4">User @Model.FirstName @Model.LastName Delete</h2>
    <form method="post" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="col-8">

        
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group mb-3">
            <label class="control-label" asp-for="Id">Id</label>
            <input asp-for="Id" readonly class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="control-label" asp-for="FirstName">Fname</label>
            <input asp-for="FirstName" readonly class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="control-label" asp-for="LastName">Lname</label>
            <input asp-for="LastName" readonly class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="control-label" asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
		<div class="form-group mb-3">
            <label class="control-label" asp-for="Email"></label>
            <input asp-for="Email" readonly class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
        <div class="mt-4 m-auto">
            <<input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-controller="User" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>
