@model RoleViewModel
@{
    ViewData["Title"] = "Delete Role";
}

<div class="container mt-5">
    <h3 class="mb-4 text-danger">Are You Sure You Want To Delete This Role?</h3>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group mb-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" readonly class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" readonly class="form-control" />
            </div>
        </div>
    </div>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </form>
</div>

